raw-mdt-source-data/Traffic_Yearly_Counts_2020/TYC_2020.dbf filter=lfs diff=lfs merge=lfs -text
raw-mdt-source-data/Traffic_Yearly_Counts_2021/TYC_2021.dbf filter=lfs diff=lfs merge=lfs -text
raw-mdt-source-data/Traffic_Yearly_Counts_2020/TYC_2020.shp filter=lfs diff=lfs merge=lfs -text
raw-mdt-source-data/Traffic_Yearly_Counts_2019/TYC_2019.dbf filter=lfs diff=lfs merge=lfs -text
raw-mdt-source-data/Traffic_Yearly_Counts_2021/TYC_2021.shp filter=lfs diff=lfs merge=lfs -text
raw-mdt-source-data/UNUSED_Traffic_Yearly_Counts_2024/TYC_2024.json filter=lfs diff=lfs merge=lfs -text
.git/objects/pack/pack-d0d2f0560b3431dc3aaf9039553e4155513feb89.pack filter=lfs diff=lfs merge=lfs -text
raw-mdt-source-data/Traffic_Yearly_Counts_2023/TYC_2023.dbf filter=lfs diff=lfs merge=lfs -text
raw-mdt-source-data/Traffic_Yearly_Counts_2023/TYC_2023.shp filter=lfs diff=lfs merge=lfs -text
raw-mdt-source-data/Traffic_Yearly_Counts_2022/TYC_2022.dbf filter=lfs diff=lfs merge=lfs -text
raw-mdt-source-data/Traffic_Yearly_Counts_2022/TYC_2022.shp filter=lfs diff=lfs merge=lfs -text
raw-mdt-source-data/UNUSED-crash-geojson/crash-geojson-all.geojson filter=lfs diff=lfs merge=lfs -text
data/Traffic_Yearly_Counts_2019/TYC_2019.json filter=lfs diff=lfs merge=lfs -text
data/Traffic_Yearly_Counts_2020/TYC_2020.json filter=lfs diff=lfs merge=lfs -text
data/Traffic_Yearly_Counts_2021/TYC_2021.json filter=lfs diff=lfs merge=lfs -text
data/Traffic_Yearly_Counts_2022/TYC_2022.json filter=lfs diff=lfs merge=lfs -text
data/Traffic_Yearly_Counts_2023/TYC_2023.json filter=lfs diff=lfs merge=lfs -text
data/Traffic_Yearly_Counts_2024/TYC_2024.json filter=lfs diff=lfs merge=lfs -text
mtfp_result_data/manual-segments/all-routes/all-routes.geojson filter=lfs diff=lfs merge=lfs -text
data/UNUSED-crash-geojson/crash-geojson-all.geojson filter=lfs diff=lfs merge=lfs -text
output/manual-segments/all-routes/all-routes.geojson filter=lfs diff=lfs merge=lfs -text
raw-mdt-source-data/UNUSED_Traffic_Yearly_Counts_2024/Montana_Traffic_Yearly_Counts.shp filter=lfs diff=lfs merge=lfs -text
data/UNUSED_Traffic_Yearly_Counts_2024/TYC_2024.json filter=lfs diff=lfs merge=lfs -text
